html{
    scroll-behavior: smooth;
}

#myvideo{
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    
    
}
body h1{

    font-size: 80px;
    font-family: Ubuntu,thin;
}



.content h1{
   color: transparent;
  width: 700px;
  min-height: 100px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: animate 20s infinite;
  /* position the div in center */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

@keyframes animate{
    from { color: black }
    to   { color: darkslategray}
}
@media screen and (max-width: 600px){

    #myvideo{
        position: inherit;
        
    }    
    .content h1{
        font-weight: bolder;
        animation: none;
        color: lightcoral;
        font-size: 20px;
    }
}
 nav{
     
    font-family: Ubuntu,bolder;
     /* position:absolute; */
     top: 0;
     height:80px;
     width: 100%;
     position: fixed;
     
    }



label.logo{
    color: darkslategray;
    font-family: Ubuntu,bold;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    

}

nav ul{
    float: right;
    margin-right:80px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin:0 5px;
}

nav ul li a{
    text-decoration: none;
    color: gray;
    font-size:17px;
    text-transform: uppercase;
}

nav ul li a:hover{
    color:lightcoral;
    text-decoration: none;
    transition: 0.5s;
}

.checkbtn{
    font-size:30px;
    color:black;
    float: right;
    line-height: 80px;
    margin-right:40px;
    cursor:pointer;
    display: none;
}
#check{
    display: none;
}

@media (max-width:952px){
    label.logo{
        font-size:30px;
        padding-left:50px ;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width:858px){

    .content h1{
        
        animation: none;
        color: slategray;
        font-size: 40px;
        animation: animate 20s infinite;
    }
    @keyframes animate{
        from { color: black }
        to   { color: darkslategray}
    }

    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top:80px;
        left:-100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
    }
    nav ul li a{
        font-size:20px;
    }
    a.hover{
        background: none;
        color: #0082e6;        
    }

    #check:checked ~ ul{
        left:0;

    }
   

}

section {
    width:100%;
    float:left;
    height:100vh;
    /* overflow:hidden; */
    position: relative;

    /* display: inline-block; */
}

#home{
   
}
#about{
    
    background-color:#3b82f6;
    text-align: center;
    font-family: Ubuntu,bolder;
    font-size: 23px; 
}

#about h1{
    margin: 40px;
    padding: 20px;
    font-weight: bolder;
}

#join_me{
    background-color:transparent;
}
#resume{
    background-color:transparent;
}
#projects{
    background-color:transparent;
    
}

.gotop{
    font-size: 30px;
    position: fixed;
    width: 50px;
    height: 50px;
    color: black;
    bottom: 40px;
    right:50px;
    
}
